In [1]:
import pandas as pd

In [ ]:
#Series

In [4]:
s1 = pd.Series([10,20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
s1 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
d1 = {'k1':10,'k2':20,'k3':30}
s1 = pd.Series(d1)
s1

k1    10
k2    20
k3    30
dtype: int64

In [7]:
#Dataframe

In [43]:
student = {"Student_name":['Bob','Sam','Julia','Charles'],"Student_marks":[87,13,99,67],"Student_major":['Math','Communications','Psychology','Biology']}

In [44]:
df = pd.DataFrame(student)

In [49]:
df.head(2)

  Student_name  Student_marks   Student_major
0          Bob             87            Math
1          Sam             13  Communications

In [50]:
df.tail(2)

  Student_name  Student_marks Student_major
2        Julia             99    Psychology
3      Charles             67       Biology

In [51]:
df.describe()

       Student_marks
count       4.000000
mean       66.500000
std        38.030689
min        13.000000
25%        53.500000
50%        77.000000
75%        90.000000
max        99.000000

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
Student_name     4 non-null object
Student_marks    4 non-null int64
Student_major    4 non-null object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [53]:
df1 = df.iloc[0:3,0:2]
df1

  Student_name  Student_marks
0          Bob             87
1          Sam             13
2        Julia             99

In [63]:
df2 = df.iloc[:,[0,2]]
df2

  Student_name   Student_major
0          Bob            Math
1          Sam  Communications
2        Julia      Psychology
3      Charles         Biology

In [64]:
df3 = df.loc[0:3,("Student_marks","Student_major")]
df3

   Student_marks   Student_major
0             87            Math
1             13  Communications
2             99      Psychology
3             67         Biology

In [68]:
x = df[df['Student_marks']>60]
x

  Student_name  Student_marks Student_major
0          Bob             87          Math
2        Julia             99    Psychology
3      Charles             67       Biology

In [90]:
y = df[(df['Student_marks']>60) & (df['Student_major'] == "Psychology") | (df['Student_major'] == "Biology")]
y

  Student_name  Student_marks Student_major
2        Julia             99    Psychology
3      Charles             67       Biology